body{
    background-color: rgb(159, 172, 196);
}

h1 {
    color: blueviolet;
    
}

#parraforojo {
    color:red;
    font-size: 130%;
}

.letra1{
    font: small-caps 100%/200% serif;
}

.tamaño{
    font-size: 150%;
}
a:hover {
    
    background-color: rgb(109, 17, 17);
    color: white;
  }
button:active {
    color: white;
    background-color: rgb(255, 166, 0);
    border-bottom-color: blue;
}
.tamaño-imagen{

    width: 270px;
    height: 160px;
}







/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilización del menú */
.menu {
    background-color: #333; /* Fondo oscuro */
    padding: 10px 0;
}

.menu-lista {
    list-style: none; /* Eliminar viñetas */
    text-align: center; /* Centrar los elementos */
}

.menu-item {
    display: inline-block; /* Mostrar los elementos en línea */
    margin: 0 20px; /* Espacio entre los elementos */
}

.menu-enlace {
    color: white; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

/* Efecto hover */
.menu-enlace:hover {
    background-color: #575757; /* Fondo gris al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
}
